<div class="container mt-4">
    <h2>Listagem de Usuários</h2>
    <ul class="list-group">
        <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
            {{ user.email }}
            <div class="btn-group" role="group">
                <button class="btn btn-outline-info btn-sm" (click)="viewUserDetails(user.id)">Detalhes</button>
                <button class="btn btn-outline-primary btn-sm" (click)="editUser(user.id)">Editar</button>
                <button class="btn btn-outline-danger btn-sm" (click)="deleteUser(user.id)">Excluir</button>
            </div>
        </li>
    </ul>

    <button class="btn btn-outline-primary btn-sm" (click)="createUser()">Novo Usuário</button>
</div>